body {
    background-color: $background;
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: 1.1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
  }
  h1,
  h2,
  h3 {
    font-weight: 600;
    color: $heading-font-color;
    font-family: $heading-font;
    line-height: 1.5;
  }
  h1 {
    color: $main-color;
    font-size: 2.5em;
    margin: 0;
    a,
    a:visited,
    a:hover {
      text-decoration: none;
      color: $font-color;
    }
  }
  h2 {
    font-size: 2em;
  }
  a,
  a:visited {
    color: $link-color;
    text-decoration: underline;
  }
  a:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
  header {
    background: $background;
    padding: 0px;
    text-align: center;
    margin: 30px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (min-width: 800px) {
      flex-direction: row;
      border-bottom: 1px solid gray;
    }
    @media screen and (max-width: 799px) {
      flex-direction: column;
    }


    .title {
      font-size: xx-large;
    }

    .navbar-container {
      display: flex;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 0px;
      justify-content: center;

      @media screen and (max-width: 799px) {
        padding: 10px 0px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
      }
    }

    nav {
      width: 100%;
      ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
        padding: 0px;
      }
      li {
        padding: 0 7px;
      }

      a {
        font-family: $navbar-font;
        display: inline-block;
        padding: 0 4px;
        text-decoration: none;
        text-transform: uppercase;

        @media screen and (min-width: 800px) {
          font-size: large;
        }
      }
  
      a:hover {
        text-decoration: none;
      }
    }

  }
  main {
    padding: 0px 15px;
    max-width: $content-width;
    margin: 0;
  }

  pre, code {
    width: 100%;
    font-family: $code-font-family;
    font-size: $code-font-size;
    font-weight: $code-font-weight;
    line-height: $code-line-height;
  }
  pre {
    padding: 10px;
  }

  time {
    color: #898989;
  }
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: $content-width;
    margin: 0 auto;
  }
  
  footer {
    text-align: center;
    padding: 40px;
    margin-top: auto;
    border-top: 1px solid gray;
  }