body {
    background-color: $background;
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: 1.1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
  }
  h1,
  h2,
  h3 {
    font-weight: 600;
    color: $heading-font-color;
    font-family: $heading-font;
    line-height: 1.5;
  }
  h1 {
    color: $main-color;
    font-size: 2.5em;
    a,
    a:visited {
      text-decoration: none;
      color: $main-color;
    }
  }
  h2 {
    font-size: 2em;
  }
  a,
  a:visited {
    color: $link-color;
    text-decoration: underline;
    font-weight: bold;
  }
  a:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
  header {
    background: $background;
    padding: 0px 30px;
    text-align: center;
    border-bottom: solid black;
    margin: 0;
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      font-size: xx-large;
      font-variant: small-caps;
    }

    .navbar-container {
      display: flex;
      @media screen and (min-width: 800px) {
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
      }

      /*Add support for mobile devices*/
    }

    nav {
      display: block;
      ul {
        display: flex;
        list-style: none;
        align-items: stretch;
        justify-content: end;
        margin: 0px;
      }
      li {
        padding: 0 7px;
        line-height: $header-height;
      }

      a {
        display: inline-block;
        padding: 0 4px;
        transition: background-color 0.5s 0s;
      }
  
      a:hover {
        background-color: $secondary-color;
        color: $main-color;
        text-decoration: none;
      }
    }

  }
  main {
    padding: 0 15px;
    max-width: $content-width;
    margin: 0 auto;
  }

  pre, code {
    width: 100%;
    font-family: $code-font-family;
    font-size: $code-font-size;
    font-weight: $code-font-weight;
    line-height: $code-line-height;
  }
  pre {
    padding: 10px;
  }

  time {
    color: #898989;
  }
  .container {
    max-width: $content-width;
    margin: 0 auto;
  }
  
  footer {
    text-align: center;
    height: $header-height;
    border-top: solid black;
    padding: 40px;
  }